.aIRoadMakerDetail {
  & .row{
    margin: 0;
    padding: 0;
  }
  .sidebar {
    background-color: white;
    padding-top: 90px;
    position: fixed;
    left: 0;
    top: 0;
    width: 450px;
    height: 100vh;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    z-index: 100;
    & .cardBg{
      padding: 1% 8% 10% 8%;      background-color:rgb(116, 123, 255 ,.8);
      & .cardCn{
        padding: 8% 0 8% 8%;
        background-color: #fff;
      }
    }
    & .menuRow{
      & .menu {
        font-size: 16px;
        cursor: pointer;
        border-bottom: 3px solid #cacaca;;
        padding: 10px;
        padding-bottom: 4px;
      }
      & .active{
        font-family: "establishRetrosansOTF", sans-serif;
        font-size: 18px;
        color: black;
        background-color: #efefef;
        border-bottom: 3px solid rgb(192, 0, 0) !important;
      }
    }
  }

  #map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}