.aIRoadMakerDetail {
  .sidebar {
    background-color: white;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 450px;
    height: 100vh;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  #map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}
