.aIRoadMakerDetail {
  & .row {
    margin: 0;
    padding: 0;
  }
  .sidebar {
    overflow-y: auto;
    background-color: white;
    padding-top: 90px;
    position: fixed;
    left: 0;
    top: 0;
    width: 450px;
    height: 100vh;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    z-index: 200;
    @media (max-width: 900px) {
      width: 100%;
    }
    & .cardBg {
      padding: 1% 8% 10% 8%;
      background-color: rgb(116, 123, 255, 0.8);
      & .cardCn {
        padding: 8% 0 8% 8%;
        background-color: #fff;
      }
    }
    & .menuRow {
      & .menu {
        font-size: 16px;
        cursor: pointer;
        border-bottom: 3px solid #cacaca;
        padding: 10px;
        padding-bottom: 4px;
      }
      & .active {
        font-family: "establishRetrosansOTF", sans-serif;
        font-size: 18px;
        color: black;
        background-color: #efefef;
        border-bottom: 3px solid rgb(192, 0, 0) !important;
      }
    }
    & .courseBg {
      background-color: #f0f2f7;
    }
    & .inpBox {
      height: 35px;
      background-color: #fff;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    }
    & .travelAdd {
      border-radius: 5px;
      padding: 2% 0 0 0;
      margin: 20px;
      width: 100%;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
      transition: transform 0.15s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .scheduleEdit {
    overflow-y: auto;
    padding-top: 90px;
    background-color: white;
    width: 450px;
    top: 0;
    left: 450px;
    position: fixed;
    height: 100vh;
    z-index: -100;
    opacity: 0;
    transform: translateX(-900px); /* 화면 밖으로 이동 */
    transition: opacity 0.3s ease-in-out;
    @media (max-width: 900px) {
      left: 0;
      z-index: 201;
      width: 100%;
      transition: none;
    }
    &.open {
      opacity: 1; /* 보이게 설정 */
      transform: translateX(0); /* 화면 안으로 이동 */
      @media (max-width: 900px) {
        transform: translateX(0);
      }
    }
    & .searchInput {
      padding: 10px;
      padding-bottom: 6px;
      border-bottom: 3px solid #cacaca;
    }
    & .travelAddList {
      & button {
        border-radius: 2px;
        padding: 0px 6px 2px 6px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
      }
      & .more {
        margin-top: 10px;
        border-radius: 5px;
        padding-top: 7px;
        width: 50%;
        transition: transform 0.15s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .travelAIDetail {
    overflow-y: auto;
    padding-top: 105px;
    background-color: white;
    width: 450px;
    top: 0;
    left: 450px;
    position: fixed;
    height: 100vh;
    z-index: -100;
    opacity: 0;
    transform: translateX(-900px); /* 화면 밖으로 이동 */
    transition: opacity 0.3s ease-in-out;
    @media (max-width: 900px) {
      left: 0;
      z-index: 201;
      width: 100%;
      transition: none;
    }
    &.open {
      opacity: 1; /* 보이게 설정 */
      transform: translateX(0); /* 화면 안으로 이동 */
      @media (max-width: 900px) {
        transform: translateX(0);
      }
    }
    & img{
      width: 100%;
    }
    & .comment {
      margin-top: 40px !important;
      max-width: 90%;
      border-radius: 5px;
      padding: 2% 3%;
      background-color: #efefef;
      height: 24rem;
      @media (max-width: 1024px) {
        height: 20rem;
      }

      @media (max-width: 768px) {
        height: 16rem;
      }

      @media (max-width: 480px) {
        height: 16rem;
      }
      .commentBox {
        padding: 2%;
        background-color: #fff;
        width: 100%;
        height: 80%;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        & textarea{
          resize: none;
          width: 100%;
          height: 100%;
        }
        @media (max-width: 1024px) {
          height: 74%;
        }

        @media (max-width: 768px) {
          height: 68%;
        }

        @media (max-width: 480px) {
          height: 68%;
        }
      }
      .btn {
        border-radius: 5px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
      }
    }
    .commentList {
      max-width: 100%;
      & > div > .col-9{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 0 !important;
      }
    }
  }
  #map {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    @media (max-width: 900px) {
      display: none;
    }
  }
}
