.roadTalkContainer {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  max-width: 1200px !important;
  margin: 3% auto;
  padding: 0 5%;
  .row {
    display: flex;
    flex-wrap: wrap; /* 모바일에서 줄바꿈 가능하도록 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    .roadTalkList {
      padding: 20px;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin-bottom: 20px;
      .roadTalkLink {
        display: flex;
        flex-direction: row; /* 기본 가로 정렬 */
        justify-content: center; /* 수평 중앙 정렬 */
        align-items: center; /* 수직 중앙 정렬 */
        @media (max-width: 1199px) {
          flex-direction: column; /* 화면이 작을 때 세로 정렬 */
          align-items: start; /* 수직 중앙 정렬 */
          .blogCard__image {
            width: 100%;
          }
          .col-8 {
            width: 100%;
          }
        }
      }
      .title {
        font-family: "establishRetrosansOTF", sans-serif;
      }
      .content {
        margin-top: 20px;
        font-family: "Hahmlet-Regular", sans-serif;
        color: rgba(10, 10, 10, 0.6);
      }
      .recommend,
      .comment,
      .bookmark {
        margin-top: 20px;
        font-family: "Hahmlet-Regular", sans-serif;
      }
      .bookmark{
        cursor: pointer;
      }
      @media (max-width: 1199px) {
        flex-direction: column; /* 화면이 작을 때 세로 정렬 */
        .recommend,
        .comment,
        .bookmark {
          font-family: "Hahmlet-Regular", sans-serif;
        }
      }
    }
    .roadTalkSidebar {
      cursor: pointer;
      padding-top: 3%;
      font-family: "establishRetrosansOTF", sans-serif;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      margin-bottom: 20px;
    }
  }
  .left {
    display: none;
  }
  .right {
    .container {
      position: sticky;
      top: 100px; /* 상단에 고정되도록 설정 */
      z-index: 100; /* 다른 요소들보다 앞에 표시되도록 설정 */
    }
  }
  @media (max-width: 1199px) {
    // xl 기준
    .left {
      display: block;
      .roadTalkSidebar {
        font-size: 20px !important;
        padding-top: 1%;
      }
    }
    .right {
      display: none;
    }
  }
  .titleFont {
    font-family: "establishRetrosansOTF", sans-serif;
    @media (max-width: 992px) {
      font-size: 24px !important;
    }
    @media (max-width: 768px) {
      font-size: 24px !important;
    }
  }
  .subFont {
    font-family: "Hahmlet-Regular", sans-serif;
    @media (max-width: 992px) {
      font-size: 16px !important;
    }
    @media (max-width: 768px) {
      font-size: 16px !important;
    }
  }
  .softColor {
    color: #8a8e91;
  }
}
