
.container {
  .roadTalkList {
    margin-top: 0;
    //로드톡 리스트
    div.talkContainer {
      margin-bottom: 20px;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      .contentContainer {
        display: flex; // Flex 컨테이너로 설정
        height: 100%;
        .detail {
          flex: 1;
          height: 100%;

          .recommend,
          .comment {
            color: black;
            transition: none;
            font-family: "Hahmlet-Regular", sans-serif;
          }

          .title {
            font-family: "establishRetrosansOTF", sans-serif;
          }
          .content {
            font-family: "Hahmlet-Regular", sans-serif;
            flex-grow: 1;
          }
          .bookmark {
            cursor: pointer;
            align-self: flex-start; /* 상단 정렬 */
            color: black;
            transition: none;
          }
        }
      }
    }
  }
  // 로드톡 사이드 카테고리
  .roadTalkSidebar {
    font-family: "establishRetrosansOTF", sans-serif;
    height: inherit;
    .sidebar {
      z-index: 10; // 다른 요소 위에 표시되도록
      position: sticky;
      top: 110px;
      .tagCate {
        cursor: pointer;
        padding-top: 3%;
        border-radius: 100px;
        margin-bottom: 20px;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
        white-space: nowrap;
        font-size: 1.4em;
        text-align: center;
      }
    }
  }
}

