.titleFont {
    font-family: "establishRetrosansOTF", sans-serif;
    font-weight: bold;
    font-size: 48px;
  }
  .subFont {
    font-family: "Hahmlet-Regular", sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  